*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ethnocentric";
}

body{
    background-color: white !important;
}





header{
    background-image:url(../img/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
    text-align: center;
    padding: 20px;
}

.dropdown_menu_elements{
    font-size: 13px;
}


.head_logo_img{
    width: 10%;
    
}

.head_logo>a{
    text-decoration: none;
}

.head_menu{
    display: flex;
    justify-content: center;
}

.menu_elements{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.menu_elements>a{
    text-decoration: none;
    color: #000000;
    font-weight: 900;
}
.dropdown_menu{
    display: none;
}

.ana, .elaqe, .mehsul, .haqq{
    color: #000000;
    font-weight: 900;
}



.head_herbal{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.head_text_herbal{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E91E63;
    font-size: 85px;
    font-weight: 500;
}

.natural{
    color: #000000;
    font-size: 1.75rem;
    font-weight: 100;
    margin-top: 50px;
}

.head_button{
    margin-top: 55px;
    font-size: 20px;
    padding: 12px 50px;
    width: 15%;
    border: 1.5px solid rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 25px;
}

.head_button>a{
    text-decoration: none;
    color: #000000;
}

.head_button:hover{
    background-color: #ffffff;
    color: #E91E63;
    border-color: #ffffff;
}

/* ----------------Main------------- */

.product_head{
    text-align: center;
    margin-top: 30px;
}

.product_head>h3{
    font-size: 30px;
    color: #E91E63;
}

.gallery_parent{
    text-align: center;
}



.gallery, .gallery2{
    margin: 20px 20px 0 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1em;
    grid-template-columns: 33% 33% 33%;
}

.gallery2{
    display: none;
}

.img_gallery{
    width: 100%;
}

.img{
    position: relative;
}

.gallery_button1{
    margin: 20px 0;
    font-size: 20px;
    padding: 12px 50px;
    width: 15%;
    border: 1.5px solid #e91e63;
    background-color: transparent;
    color:#E91E63;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 25px;

}

.gallery_button1:hover{
    background-color: #E91E63;
    color: #ffffff;
    border-color: #ffffff;
}

.gallery_button1:active .gallery2{
    display: block;
} 

/* ----------------Footer------------- */


.contact_area{
    background-image: url(../img/foot.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 55px;
}

.icon_contact{
    font-size: 25px;
    color: #E91E63;
}

.info_logo{
    width: 17%;
    margin-bottom: 40px;
}

.contacts_info{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

.contacts_icon{
    width: 7%;
    margin-top: 40px;
}

.contacts_text{
    color: white;
    margin-top: 20px;
    font-weight: 400;
}

.locatioin_icon, .mail_icon, .phone_icon{
    font-size: 55px;
    color: #E91E63;
}

.end{
    text-align: center;
    margin: 20px 20px;
    font-weight: 300;
}

